a {
    text-decoration: none;  
    color: #FF3845;
}

body {
    background-color: #595645;
    color: #FFFFFF;
    font-family: Arial, Arial Black, Verdana, Trebuchet MS,Georgia, Tahoma, Courier, New, "Times New Roman";
}

h1, h2, h3 {
    color: #91C1FF;
}

hr {
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

p::first-letter {
    line-height: 35px;
    font-size: 30px;
    padding-left: 5px;
    margin-bottom: -5px;
}


.emp {
    color: #FFE23E;
}

.img {
    width: 250px;
    height: 250px;
    background-size: contain;
}
